<h1>Listado de correos</h1>

<table border="1px">

    <tr>
        <th>Leído</th>
        <th>Emisor</th>
        <th>Receptor</th>
        <th>Asunto</th>
        <th>Pendiente</th>
    </tr>

    <tr *ngFor="let correo of listaCorreos; index as i;">
        <td>
            <input type="radio" name="leido{{i}}" [(ngModel)]="correo.leido" [value]=true> Si
            <input type="radio" name="leido{{i}}" [(ngModel)]="correo.leido" [value]=false> No
        </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.receptor}}</td>
        <td>{{correo.asunto}}</td>
        <td>
            <div *ngIf="!correo.leido">X</div>
        </td> 
    </tr>

</table>

