<h2>Listado de correos</h2>

<table border="1px" style="width: 100%; text-align: center;">

    <tr>
        <th>Emisor</th>
        <th>Asunto</th>
        <th>Acción</th>
    </tr>

    <ng-container *ngFor="let correo of listaCorreos; index as i;">

        <tr>
            <td>{{correo.emisor}}</td>
            <td>{{correo.asunto}}</td>
            <td>
                <button (click)=clickResponder(correo)>Responder</button>
            </td>
        </tr>

        <tr *ngIf="correo.respuesta" style="text-align: left;">
            <app-nuevo-correo [correo]="correo" (eventoCierre)="cierreRespuesta(correo)"></app-nuevo-correo>
        </tr>

    </ng-container>
    

</table>

