/* You can add global styles to this file, and also import other style files */
@import 'Themes/themeLight.scss';
@include angular-material-theme($my-light-theme);

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
    background-color: $grey-color;
}

mat-toolbar {
    color: $primary-color;
}
